<!DOCTYPE HTML>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">



        						<!--Header-->
			<section id="four" class="main style2 special">
				<div class="container">
					<header class="major">
						<h2>Choose the test, and you have a trial!</h2>
					</header>
					<p>Login to save your records!</p>
					<ul class="actions special">
						<li><a href="/sign_in_page" class="button wide primary">Sign in</a></li>
						<li><a href="#" class="button wide">Learn More</a></li>
					</ul>
				</div>
			</section>

            <br>
        <section id="five" class="main style1">
				<div class="container">
					<header class="major special">
						<h2>Specify your test</h2>
					</header>
                <h4>Subject</h4>
						<form method="post" action="#">
							<div class="gtr-uniform gtr-50">
                               <div class="col-12">
									<select name="demo-category" id="demo-category">
										<option value="">- Subject -</option>
										<option value="1">Mathematics</option>
										<option value="1">English Language</option>
										<option value="1">Francais</option>
										<option value="1">Physics</option>
									</select>
								</div>
                            </div>

                            <br>

                            <h4>Level</h4>
							<div class="gtr-uniform gtr-50">
                               <div class="col-12">
									<select name="demo-category" id="demo-category">
										<option value="">- What class are you? -</option>
										<option value="1">Kindergarten</option>
										<option value="1">Nursery</option>
										<option value="1">Primary</option>
										<option value="1">Secondary</option>
									</select>
								</div>
                                <br>

                                 <h4>Are you preparing for an exam?</h4> 
							<div class="gtr-uniform gtr-40">
                               <div class="col-12">
									<select name="demo-category" id="demo-category">
										<option value="">- Choose Exam -</option>
										<option value="1">WAEC</option>
										<option value="1">NECO</option>
										<option value="1">UTME</option>
										<option value="1">SAT</option>
									</select>
								</div>

                        </div>
                            <br>
                            <div class="col-12">
									
										<input type="submit" value="Start Exam" class="primary"/>
										
									
                            </div>
                        </form>
                </div>
        </section>

        <!--Footer-->
            <section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2025</li><li>Reef Academy <a href="http://html5up.net"></a></li>
				</ul>
			</section>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>